.disease-detection-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
  }
  
  h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .disease-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin: 15px 0;
  }
  
  label {
    font-size: 1.1em;
    color: #444;
  }
  
  .disease-select,
  .file-input {
    padding: 10px;
    font-size: 1em;
    width: 80%;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    padding: 12px 25px;
    font-size: 1.2em;
    background-color: #260f62;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #8a3ae2;
  }
  
  .result-container {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .result-container h2 {
    color: #333;
  }
  
  .result-container p {
    font-size: 1.2em;
    color: #555;
  }
  
  .result-container strong {
    color: #260f62;
  }
  