/* CartPage.css */

:root {
    --primary-color: #4CAF50; /* Green */
    --secondary-color: #FF9800; /* Orange */
    --background-color: #f9f9f9; /* Light grey */
    --text-color: #333333; /* Dark grey */
    --button-hover-color: #45a049; /* Darker green */
  }
  
  .cart-page {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    color: var(--primary-color);
    margin-bottom: 2.5rem;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cart-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .cart-item-info {
    flex: 1;
  }
  
  .cart-item-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .cart-item-price {
    color: var(--secondary-color);
    margin-bottom: 10px;
  }
  
  .cart-item-quantity {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    padding: 21px 13px;

  }
  
  .quantity-button {
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .quantity-button:hover {
    background-color: var(--button-hover-color);
  }
  
  .quantity-display {
    margin: 0 10px;
    font-size: 16px;
  }
  
  .remove-item-button {
    background-color: #f44336; /* Red */
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .remove-item-button:hover {
    background-color: #d32f2f; /* Darker red */
  }
  
  .cart-summary {
    margin-top: 30px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cart-summary h3 {
    margin-bottom: 20px;
    color: var(--primary-color);
  }
  
  .checkout-button {
    background-color: var(--secondary-color);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .checkout-button:hover {
    background-color: #fb8c00; /* Darker orange */
  }
  